# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
*.db
*.sqlite3
reports/
*.egg-info/
.eggs/
dist/
build/

# Node
node_modules/
npm-debug.log*
.npm
frontend/dist/
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/
